apiVersion: v1
clusters:
- cluster:
    certificate-authority: minikube/ca.crt
    extensions:
    - extension:
        last-update: Tue, 02 Feb 2021 16:29:29 CET
        provider: minikube.sigs.k8s.io
        version: v1.17.0
      name: cluster_info
    server: https://192.168.49.2:8443
  name: minikube
contexts:
- context:
    cluster: minikube
    extensions:
    - extension:
        last-update: Tue, 02 Feb 2021 16:29:29 CET
        provider: minikube.sigs.k8s.io
        version: v1.17.0
      name: context_info
    namespace: default
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: minikube
  user:
    client-certificate: minikube/profiles/minikube/client.crt
    client-key: minikube/profiles/minikube/client.key